@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.light-theme-date-picker::-webkit-calendar-picker-indicator {
    filter: none;
  }
  
  .light-theme-date-picker::-moz-calendar-picker-indicator {
    filter: none;
  }
  
  .dark-theme-date-picker::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  
  .dark-theme-date-picker::-moz-calendar-picker-indicator {
    filter: invert(1);
  }
  